<!DOCTYPE html>
<hthml>
	<head>
		<meta charset="utf-8">
		<link rel='stylesheet' href = '/stylesheets/style.css' / >
	</head>
	<body>
		<h2>Sobre el Autor:</h2>
		<%= nombre %><p>
		<IMG SRC="https://avatars3.githubusercontent.com/u/13313692?v=3&s=460" ALT="Francisco">
	</body>
</html>